body {
    font-family: Arial;
    text-align: center;
    /* padding-top: 100px; */
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 30px;
}

input {
    width: 50%;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid gray;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
}

.navbar {
    background: #222;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.menu-icon {
    cursor: pointer;
    font-size: 26px;
    margin-right: 15px;
}

.logo {
    font-weight: bold;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 8px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    border-radius: 10px;
}

.dropdown-btn {
    padding: 12px 20px;
    text-align: left;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
}

.dropdown-btn:hover {
    background-color: #444;

}

.arrow {
    transition: transform 0.3s ease;
    display: inline-block;
}

.arrow.rotate {
    transform: rotate(90deg);
}

.dropdown-container {
    display: none;
    background-color: #1b1b1b;
}

.dropdown-container a {
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 16px;
}

.dropdown-container a:hover {
    background-color: #575757;
}


ul {
    list-style-position: inside;
    padding-left: 0px;

}

.content {
    text-align: left;
}