body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

nav {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    margin: 5px;
}

nav a:hover {
    color: yellow;
}

.hero {

    text-align: center;
    padding: 0;
    margin-top: 10px;
}

.hero input {
    padding: 12px;
    width: 250px;
    border-radius: 20px 0 0 20px;
    border: none;
    margin-right: -5px;
    outline: none;
}

.hero button {
    margin: 0;
    padding: 12px 15px;
    border: none;
    border-radius: 0 20px 20px 0;
    background: #ffd369;
    color: white;
    cursor: pointer;
    outline: none;
}

.hero button:hover {
    background: #ffb703;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.subjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding: 20px;
    gap: 20px;
}

.card {
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background: white;
    color: black;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.physics {
    background: rgba(255, 255, 255, 0.35);
}

.biology {
    background: rgba(255, 255, 255, 0.20);
}

.chemistry {
    background: rgba(255, 255, 255, 0.10);
}

.cs {
    background: rgba(255, 255, 255, 0.30);
}

.content {
    padding: 15px;
    text-align: left;
    line-height: 1.5;
}